/* Style for fonts */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}


/* Heder fo Name Site */
.container {
    position: relative;
    max-width: 1280px;
    font-family: 'Roboto';
    margin: 60px auto 0;
    padding-bottom: 54px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.title {
    /* width: fit-content; */
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}



.title__link {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #23aeea;
    text-decoration: none;
    justify-content: space-between;
}


.title__decoration {
    color: #000000;
    
}

.theme{
    background-color: #233263;
    color: white;
}
/* Navigation */
.nav {
    display: flex;
    justify-content: center;
    align-content: stretch;
    margin-top: 37px;
  
}

.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    background: #35444F;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 73px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 40px;
    transition: 300ms;
    text-decoration: none;

}

.nav__link:hover {
    background: #222F3A;
    
}


/* Main content to the Left */
.main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}

.main__menu {
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 49px 0 0 0;
}

.menu__item {
    display: flex;
    align-items: center;
    padding-left: 44px;
    width: 342px;
    height: 81px;
    color: #485863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    transition: 300ms;
    text-decoration: none;

}

.menu__item:hover {
    background: #DBDBDB;
    padding-left: 74px;
    color: black;

}


/* Picture */
.main__content {
    width: 880px;

    display: flex;
    flex-direction: column;
    margin: 49px 0 0 0;
}

.img__wrapper {
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main__image {
    transition: 500ms;
}

.main__image:hover {
    transform: scale(1.3);

}


/* Text */
.main__text {
    margin: 37px 0 0 0;
    text-align: left;
}

/* Footer */
.footer {
    width: 100%;
    margin-top: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 

}

.footer__links {
 align-items: center;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    
}


.footer__item {
    display: flex;
    align-items: center;
    height: 70px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    transition: 500ms;
    text-decoration: none;
    justify-content: space-around;
    padding-right: 50px;

}

.footer__item:hover {
    text-decoration: underline;
    color: #3181A6;
}

.copyright {
    margin: 0 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
  
}